.load_location {
  position: relative;
  width: 100%;
  height: 400px;

}


#start {
  // position: absolute;
  height: 400px;
  // min-height: 400px;
  width: 100%;
}

#end {
  // position: absolute;
  height: 400px;
  // min-height: 400px;
  width: 100%;
}


.hide {
  display: none;
}
